* {
  margin: 0;
  padding: 0;
  font-size: 1em;

  --bg: #131313;
  --header-text: #d3fc7e;
  --text: #eeeeee;
  --text-dark: #1e6f50;
  --text-lighter: #33984b;
  --text-light: #e3eebe;
}

body, html {
  font-size: 108%;
  width: 100%;
  font-family: 'Quattrocento Sans', sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

body {
  padding: 30px;
  box-sizing: border-box;
  background: url("http://api.thumbr.it/whitenoise-128x128.png?background=131313ff&noise=272727&density=31&opacity=44");
}

.features {
  line-height: 1.4;
}

.inner_conainer {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 30px;
}

.footer {
  padding: 30px;
}

.page_container {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
}

h1, h2, h3 {
  margin-bottom: 0.2em;
  padding-top: 2em;
  font-style: bold;
  color: var(--header-text);
}

h1 {
  padding-top: 0;
}

h3 {
  font-size: 1.3em;
}

h1 {
  font-size: 2em;
}

.plus {
  color: var(--text-dark);
}

.extra {
  color: var(--text-light);
}

.separator {
  height: 4em;
  display: block;
  width: 100%;
}

.button {
  outline: none;
  margin: auto;
  text-align: center;
  padding: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  background: var(--bg);
  border: 1px solid var(--text);
  color: var(--text);
  border-radius: 2px;
  font-family: 'Quattrocento Sans', sans-serif !important;
  font-weight: bold;
  transition: all 0.2s;
  text-decoration: none;
}

.button_wrapper {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 0.25em;
}

.button:hover {
  background: var(--text);
  color: var(--bg);
  text-decoration: none;
}

.button:active:hover {
  animation: none;
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  background-color: var(--text-dark);
  border-color: var(--text-dark);
  color: var(--bg);
}

.juice {
  display: inline-block;
  cursor: pointer;
}

.juice:hover {
	animation: rainbow 2.5s linear infinite;
}

@keyframes rainbow{
	100%,0%{
		color: rgb(255,0,0);
    letter-spacing: 1px;
	}
	8%{
		color: rgb(255,127,0);
	}
	16%{
		color: rgb(255,255,0);
    transform: rotate(0deg);
	}
	25%{
		color: rgb(127,255,0);
	}
	33%{
		color: rgb(0,255,0);
    letter-spacing: 1.4px;
	}
	41%{
		color: rgb(0,255,127);
	}
	50%{
		color: rgb(0,255,255);
	}
	58%{
		color: rgb(0,127,255);
	}
	66%{
		color: rgb(0,0,255);
	}
	75%{
		color: rgb(127,0,255);
    letter-spacing: 1px;
    transform: rotate(5deg);
	}
	83%{
		color: rgb(255,0,255);
	}
	91%{
		color: rgb(255,0,127);
    transform: rotate(-5deg);
	}
}

.links {
  font-size: 0.9em;
}

a {
  color: var(--text-lighter);
  text-decoration: none;
  transition: all 0.2s;
}

a:hover {
  color: var(--header-text);
  text-decoration: underline;
}

table {
  border: none;
  border-collapse: collapse;
}

table tr:first-child td:first-child {
  border-top-left-radius: 5px;
}

table tr:first-child td:last-child {
  border-top-right-radius: 5px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

td {
  padding: 5px;
}

tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.3);
}

tr:nth-child(odd) {
  background: rgba(255, 255, 255, 0.05);
}

td {
  vertical-align: center;
  height: 2em;
  color: var(--text-light);
}

.left {
  width: 41%;
  padding-left: 10px;
  color: var(--text);
}

.horizontal_separator {
  width: 1em;
  display: inline-block;
}
